@use "../../scss/util/reuse";
main {
  @extend %center-container;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  aside {
    height: fit-content;
    margin-top: 2rem;
  }
  .sticky {
    position: sticky;
    top: 1rem;
  }
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}
