*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  font: inherit;
}
body {
  font-family: "Exo 2", sans-serif;
}
