.blog-container {
  max-width: 845px;

  .img-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  .author-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading2 {
  }
}
